.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img img {
  margin: 0 auto;
  width: 312px;
  height: 360px;
  border-radius: 8px;
}

.card-container h2 {
  padding: 24px 24px;
}

.card-container p {
  padding-left: 24px;
  text-align: left;
  font-size: 20px;
  width: 325px;
  line-height: 32px;
}

.card-counted button {
  margin: 24px;
  background-color: #b81515;
  color: #fff;
  border: none;
  width: 312px;
  font-weight: 600;
  padding: 16px 74px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

@media (min-width: 768px) {
  .card-container h2 {
    padding: 12px 12px;
  }

  .card-container p {
    padding-left: 12px;
    width: 679px;
  }

  .card-img img {
    width: 750px;
    height: 452px;
  }

  .card-counted {
    margin-right: 85px;
  }

  .card-counted button {
    margin: 12px;
    width: 280px;
  }
}

@media (min-width: 1024px) {
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 64px;
  }

  .card-img img {
    width: 450px;
    height: 350px;
  }

  .card-container {
    max-width: 500px;
  }

  .card-container p {
    width: 480px;
  }

  .card-counted button {
    margin: 12px;
    width: 280px;
  }

  .card-counted {
    margin-right: 0px;
  }

  .title span {
    left: 40%;
  }
}

@media (min-width: 1440px) {
  .card-grid {
    width: 1500px;
    gap: 24px;
    margin: 0 auto;
  }

  .card-container {
    max-width: 1700px;
  }

  .card-counted {
    margin-right: 126px;
  }

  .card-counted p {
    padding-left: 0px;
    width: 600px;
  }

  .card-counted h2 {
    padding: 12px 0px;
  }

  .card-counted button {
    margin: 0px;
    margin-top: 24px;
  }

  .card-img img {
    width: 780px;
    height: 452px;
  }

  .title span {
    left: 45%;
  }
}
